    <!-- About Section -->
    <section id="participants">
           

    <div class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              
            <br/><br/><br/>
            
            <h2>Network Members</h2>
            
            <br>

            <p><h4><b>Participants</h4></b></p>

           
            
            <a href="http://www.sussex.ac.uk/profiles/208667" target="_blank">
            Chris Kiefer</a> <br>
            
            <br>

            <p><h4><b>Advisory Board</h4></b></p>

            <p>
            <a href="http://www1.rmit.edu.au/browse%3BID=vcnfenbj05lv" target="_blank">
            Sarah Pink</a> (RMIT, Melbourne)<br>
            <a href = "http://tinything.com/?p=57" target = "_blank">
                Kristina Anderson</a>(STEIM, Amsterdam)<br>
             <a href = "http://www.sussex.ac.uk/profiles/9183">
            Fiona Courage</a> (The Keep, Sussex)<br>
                
            Simon Goldhill<br>    
            Sarah Pink  <br>
            Mark Plumbley<br>
            Richard Ranft    <br>
               




            

         


</p>

<br>


            <br/><br/><br/>

      </div>
</div>
              </div>
        </div>
    </section>
