    <!-- Workshops section -->
    <section id="workshops">
     
        <div class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
    	<br>
            <h2>Workshops</h2>
        

            <p>
            - <b></b> Workshop 1. April 27 & 28 --  Sussex Humanities Lab, University of Sussex, Brighton<br>
            - <b></b> Workshop 2. May 31 & June 1 -- Sonic Arts Research Centre, Queen's University Belfast<br>
            - <b></b> Workshop 3. April 27 & 28 -- Sussex Humanities Lab, University of Sussex, Brighton<br>
              
      

            </div>
        </div>
      </div>

</section>
